body {
  font-size: 100%;
}

header {
  padding: 1em;
  margin: 1em;
  background-color: lightgray;
}

main {
  padding: 1em;
  margin: 1em;
  background-color: cyan;
}

article {
  border-bottom: 1px solid black;
  margin: 0;
  background-color: tan;
}

footer {
  padding: 1em;
  margin: 1em;
  background-color: yellow;
}

a, a:link, a:active {
  text-decoration: none;
  color: #555;
  padding: 1em;
}
