body {
    line-height: 1.1;
    font-size: 100%;
}

header {
  padding: 1em;
  margin: 1em;
  background-color: lightgray;
}

article {
  border-bottom: 1px solid black;
  margin: 0;
}

footer {
  padding: 1em;
  margin: 1em;
  background-color: yellow;
}

a, a:link, a:active {
    text-decoration: none;
    color: #555;
}
