body {
  font-size: 100%;
  background-color: #006561;
}

h1 {
  margin: 0.2em 0;
  font-family: 'David Libre', serif;
}

h2 {
  margin: 0.2em 0;
  font-family: 'David Libre', serif;
}

header {
  padding: 1em;
  margin: 1em;
  background-color: #33cdc7;
  border-radius: 0.5em;
  text-align: center;
}

header h1 {
  font-style: bold;
}

header h2 {
  font-style: italic;
}

header h1, h2 {
  text-align: center;
}

main {
  padding: 0.2em;
  margin: 1em;
  background-color: #33cdc7;
  border-radius: 0.5em;
}

article img {
  width: 100%;
  margin: 0.2em 0.2em 0.2em 0.2em;
}

article, #about {
  border-bottom: 1px solid black;
  margin: 0.2em;
  padding: 0.2em;
  background-color: beige;
  border-radius: .5em;
}

.article-body {
  padding: 0.1em;
  font-family: 'Lato', sans-serif;
}

.article-title {
  font-family: 'David Libre', serif;
}

footer {
  padding: 1em;
  margin: 1em;
  background-color: #33cdc7;
  border-radius: 0.5em;
}

a, a:link, a:active {
  text-decoration: none;
  color: #555;
  padding: 1em;
}
