.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

header {
  text-align: center;
}

header h1, h2 {
  text-align: center;
}

#profile-photo {
  width: 200px;
  height: 200px;
}

article img {
  width: 100%;
  margin: 0.2em 0.2em 0.2em 0.2em;
}
