#profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 4em;
}

#about {
  background-color: beige;
}

.icon-menu {
  float: right;
  font-size: 2em;
}

.main-nav {
  padding: 0.1em;
}

.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  padding: 0.5em 0.2em;
  border-bottom: 1px solid #ccc;
  background-color: #ffb173;
  border-radius: 0.3em;
}

.main-nav li:hover {
  background-color: #ff7100;
}

.main-nav a {
  font-variant: small-caps;
  font-size: 1.2em;
}

.template {
  display: none;
}

.article-date {
  font-style: italic;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  .main-nav ul {
    display: block;
  }
  .main-nav li {
    display: inline;
  }
}
